@main: #e1edef;
@accent: #5e8791;
@titleFont: #5e8791;
@linkColor: #aaaaaa;
@headerScroll: #8eafb4;
@navColor: #bbbbbb;
@navAHover: #5e8791;
@navHover: #5e8791;
@subNavHover: #3d616a;
@thirdMenuHoverColor: #3d616a;
@thirdMenuHoverBg: #ffffff;
@splash: #5e8791;
@searchColor: #99bac1;
