@main: #a7a9ac;
@accent: #414042;
@titleFont: #5e8791;
@linkColor: #aaaaaa;
@headerScroll: #414042;
@navColor: #414042;
@navAHover: #cb4a3b;
@navHover: #cb4a3b;
@subNavHover: #cb4a3b;
@thirdMenuHoverColor: #cb4a3b;
@thirdMenuHoverBg: #ffffff;
@splash: #5e8791;
@searchColor: #99bac1;
